.video-ovrelya-main video {
    max-width: 100%;
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

.bg-overlay {
    display: block !important;
    /* position: relative; */
}

.video-overlay-main-video {
    position: relative;
}

.bg-overlay:after {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 2;
    display: block;
    position: absolute;
}

.video-ovrelya-main img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.video-overlay-text-main {
    position: relative;
}

.video-overlay-main {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.overlay-main-heading {
    margin: 0;
    line-height: 1.2;
}

.overlay-anchor-link {
    text-decoration: none;
    padding: 15px 41px;
    border-radius: 8px;
    font-weight: 500;
    display: block;
    width: fit-content;
    line-height: 1.2;
}



@media(min-width: 1024px) {
    .video-overlay-top-left {
        top: 0;
        left: 0;
        transform: translate(50px, 50px);
    }

    .video-overlay-top-center {
        top: 0;
        left: 50%;
        transform: translate(-50%, 50px);
    }

    .video-overlay-top-right {
        top: 0;
        left: auto;
        right: 0;
        transform: translate(50px, 50px);
    }

    .video-overlay-middle-center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .video-overlay-middle-left {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
    }

    .video-overlay-middle-right {
        top: 50%;
        left: auto;
        right: 0;
        transform: translate(-50%, -50%);
    }

    .video-overlay-bottom-left {
        bottom: 0;
        left: 0;
        transform: translate(50px, -80px);
    }

    .video-overlay-bottom-center {
        bottom: 0;
        left: 50%;
        transform: translate(50px, -50px);
    }

    .video-overlay-bottom-right {
        bottom: 0;
        left: auto;
        right: 0;
        transform: translate(-50%, -50px);
    }

    .video-ovrelya-main.small {
        aspect-ratio: 16 / 6;
    }

    .video-ovrelya-main.medium {
        aspect-ratio: 16 / 8;
    }

    .video-ovrelya-main.large {
        aspect-ratio: 7 / 4;
    }
}

@media(max-width: 1024px) {
    .video-overlay-main {
        transform: translate(0px, -40px);
        bottom: 0px;

    }
}

@media(max-width: 991px) {
    .overlay-anchor-link {
        padding: 10px 21px;
    }
}

@media(max-width: 768px) and (min-width: 540px) {
    .video-ovrelya-main {
        aspect-ratio: 16 / 9;
    }
}

@media(max-width: 540px) {
    .video-ovrelya-main {
        aspect-ratio: 2 / 3;
    }

    .overlay-main-heading br {
        display: none;
    }


}

@media(max-width: 2000px) and (min-width: 1695px) {
    .video-overlay-main {
        padding: 0 14rem;
    }
}

@media(max-width: 768px) {
    .video-overlay-main {
        gap: 20px;
    }
}